@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --main-blue: #003366;
    --light-blue-: #87ceeb;
    --main-background: #d2b48c;
    --second-background: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#encabezado {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-background);
    text-align: center;
    display: block;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5);  Ajusta la opacidad según sea necesario */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

h1, p {
    margin: 0;
    padding: 0.5em;
}


.boton {
    background-color: var(--main-blue); /* Color de fondo */
    border: none;
    color: var(--second-background); /* Color del texto */
    padding: 1em; /* Espaciado alrededor del texto */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Quitar subrayado del texto */
    display: inline-block;
    font-size: 1.3em;
    margin: 2em;
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer;
    border-radius: 0.5em; /* Bordes ligeramente redondeados */
}

.boton:hover {
    background-color: var(--light-blue-);
    scale: 1.1;
}

#flecha {
    scale: 1.5;
    border: none;
    cursor: pointer;
    animation: moveUpDown 2s infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-2vh);
        fill: var(--main-blue);
    }
    40% {
        fill: var(--main-blue);
    }
    100% {
        transform: translateY(2vh);
        fill: var(--light-blue-);
    }
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}

#logo {
    max-width: 500px;
}

#divfoto {
    display: flex;
}


#foto_aside img {
    width: 50vw;
    border-radius: 10px;
}

@media screen and (max-width: 1185px) {
    #divfoto {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #foto_aside img {
        width: 70vw;
    }
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    #logo {
        max-width: 400px;
    }

    #divfoto {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #foto_aside img {
        width: 70vw;
    }

    .encabezado h1 {
        font-size: 4em;
    }
    .encabezado h2 {
        font-size: 3em;
    }
    .encabezado .boton {
        font-size: 1.2;
    }
}

@media screen and (max-width: 450px) {
    #logo {
        max-width: 350px;
        
    }

    #divfoto {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #foto_aside img {
        width: 70vw;
    }

    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    .encabezado h1 {
        font-size: 3em;
    }
    .encabezado h2 {
        font-size: 2.5em;
    }
    .encabezado .boton {
        font-size: 1.2;
    }
}

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--main-blue);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--second-background);
}

/* Contenedor principal */
main {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: var(--second-background);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Encabezados */
h1 {
    color: var(--main-blue);
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

h2 {
    color: var(--main-blue);
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 2vh;

}

/* Párrafos */
article p {
    line-height: 1.6;
    color: var(--main-blue);
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* Contenedores */
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.element {
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
}

.name {
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    font-size: 1.2em;
    color: var(--main-blue);
}

/* Estilos del carrusel */
.article-wrapper {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mySlides {
    display: none;
    width: 100%;
    border-radius: 10px;
    
}

.direccion {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--main-blue);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 10;
}

.direccion.left {
    left: 0;
    border-radius: 3px 0 0 3px;
    background-color: rgba(0,0,0,0.5);
}

.direccion.right {
    right: 0;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.5);
}

.direccion:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Footer */
footer {
    background: var(--main-blue);
    color: var(--second-background);
    padding: 20px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}


footer a {
    color: var(--second-background);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Contact Info */
#contact-info {
    font-size: 1em;
    padding: 5vw;
}

/* Google Map */
.map iframe {
    width: 40vw;
    height: 40vw;
    border: none;
    margin-top: 20px;
    max-width: 600px;
    max-height: 200px;
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .direccion {
        padding: 12px;
        font-size: 16px;
    }

}
